<?php
// it will never let you open index(login) page if session is set
if(!isset($_SESSION['id'])){
   header("location: innovation.php");
}
?>
<div class="admin">
	{{% include '../partials/sidenav.twig' %}}
</div>