<!-- Input scherm voor de CMS items -->
<div class="container--admin">
	<h1>CMS ITEMS</h1>
	<form action="../../php/send_content.php" method="post" enctype="multipart/form-data">
		<label for="title">Titel Toevoegen</label>
		<input type="text" name="title" placeholder="Leid de toekomst op!">
		<input type="text" name="title_color" placeholder="Red">
		<a href="">Contentblok verwijderen</a>
		<label for="subtitle">Subtitel toevoegen</label>
		<input type="text" name="subtitle" placeholder="Leid de toekomst op!">
		<input type="text" name="subtitle_color" placeholder="Red">
		<a href="">Contentblok verwijderen</a>
		<label for="content">Content Toevoegen</label>
		<input type="text" name="content" placeholder="Leid de toekomst op!">
		<a href="">Contentblok verwijderen</a>
		<label for="background">Verander achtergrond</label>
		<input type="file" name="image">
		<input type="text" name="background_color" placeholder="Red">
		<a href="">Verwijder</a>
		<label for="button">Verander button</label>
		<input type="text" name="button_text" placeholder="Inschrijven">
		<input type="text" name="button_link" placeholder="Url:">
		<input type="text" name="button_align" placeholder="Links">
		<a href="">Contentblok verwijderen</a>
		<label for="button">
			
		</label>
		<input type="submit" value="Verstuur">
	</form>
</div>