<section class="innovation">
    <div class="innovation__container">
        <div class="innovation__content">
            <div class="innovation__heading">
                <h2 class="innovation__title">VR IN ONS DAGELIJKS LEVEN</h2>
                <p class="innovation__subtitle">
                    Een nieuwe kijk op het leven met deze raket
                </p>
            </div>
            <article class="innovation__wrapper">
                <h2 class="innovation__title">SNELLE TRINNA'S</h2>
                <p class="innovation__paragraph">
                    Sed ut perspiciatis unde omnis iste natus error
                    sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <button class="button">
                    <span class="button__text">BUTTON</span>
                </button>
            </article>
        </div>
    </div>
</section>
