<section class="innovation">
    <div class="innovation__container">
        <div class="innovation__content">
            <div class="innovation__heading">
                <h2 class="innovation__title">AROUND THE WORLD IN HALF AN HOUR</h2>
            </div>
            <article class="innovation__wrapper">
                <h2 class="innovation__title">SUPER FAST PUBLIC TRANSPORT</h2>
                <p class="innovation__paragraph">
                    De SpaceX-CEO is van plan om mensen te laten springen in herbruikbare raketten van precies dezelfde soort. Het wordt gebruikt om mensen naar de ruimte te brengen, over de wereld te vliegen en dan weer terug te keren waar het gelanceerd werd. Het plan, als het werkt, veel sneller reizen dan zelfs het snelste vliegtuig.
                </p>
                <button class="button button--left">
                    <span class="button__text">BUTTON</span>
                </button>
            </article>
        </div>
    </div>
</section>
