# Logs
logs
*.log
npm-debug.log*

# Build path
dist/

# Dependency directories
node_modules/

# dotenv environment variables file if used
.env
*.DS_Store

# Package lock file
package-lock.json

# Workspace
.idea/workspace.xml
.idea/
