<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% include '../partials/head.twig' %}
    </head>
    <body>
        <div class="site">
            <div class="site__header">
                {% include '../partials/menu.twig' %}
            </div>

            <div class="site__content">
                {% block content %}
                    {% include '../partials/header.twig' %}
                    {% include '../partials/about.twig' %}
                    {% include '../partials/innovation.twig' %}
                {% endblock %}
            </div>

            <div class="site__footer">
                {% include '../partials/footer.twig' %}
            </div>

            {% block js %}
                <script src="./assets/js/lib.js"></script>
                <script src="./assets/js/app.js"></script>
            {% endblock %}
        </div>
    </body>
</html>
