<section class="about">
    <p class="about__paragraph">
        Als Leraar Techniek ga je veel te maken krijgen met technische innovaties.
        <br>Ontdek nieuwe innovaties op het gebied van techniek.
    </p>
</section>
