<section class="about" id="about">
    <h2 class="about__title">Ben jij klaar om de toekomst op te leiden?</h2>
    <p class="about__paragraph">
        Als je leraar techniek tweedegraads gaat studeren, kom je in een snel
        ontwikkelende werkomgeving. Elk jaar zijn er weer nieuwe technieken die
        uit komen. Daardoor is het nooit saai en blijf je nieuwe dingen leren.
    </p>
    <a href="#" class="button button--small about__link">
        <span class="button__text">Naar de innovaties</span>
    </a>
</section>
