<section class="about" id="about">
    <h2 class="about__title">Ben jij klaar om de toekomst op te leiden?</h2>
    <p class="about__paragraph">
        Als Leraar Techniek ga je veel te maken krijgen met technische innovaties.
        Ontdek nieuwe innovaties op het gebied van techniek.
    </p>
    <a href="#" class="button button--small about__link">
        <span class="button__text">Naar de innovaties</span>
    </a>
</section>
