<section class="about" id="about">
    <h2 class="about__title">Klaar om nieuwe kennis over te dragen?</h2>
    <p class="about__paragraph">
        Als leraar techniek kom je in een snel ontwikkelende werkomgeving.
        Er komen steeds weer nieuwe technieken uit. Daardoor is het nooit
        saai en blijf je nieuwe dingen leren. Ga verder om te zien waar je
        nu al mee kan werken.
    </p>
    <a href="#" class="button button--small about__link">
        <span class="button__text">Naar de innovaties</span>
    </a>
</section>
