<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__heading">
            <h2 class="footer__title">De toekomst opleiden, start vandaag nog</h2>
        </div>
        <article class="footer__info">
            <p class="footer__paragraph">
                Je kunt je vandaag nog inschrijven voor de opleiding. Ook kun je nog meer
                over de opleiding te weten te komen door op de knop meer informatie te
                klikken.
            </p>
            <div class="footer__button-wrapper">
                <button class="button button--blue footer__button footer__button--margin">
                    <span class="button__text">INSCHRIJVEN</span>
                </button>
                <button class="button footer__button">
                    <span class="button__text">MEER INFORMATIE</span>
                </button>
                <div class="c"></div>
            </div>
        </article>
    </div>
    <div class="footer__social">
        <div class="footer__logo-wrapper">
            <a href="https://www.hu.nl/" class="footer__link">
                <img src="/assets/img/hu_menu.svg" alt="HU logo" class="footer__logo">
            </a>
        </div>
        <div class="footer__icons">
            <a href="https://www.facebook.com/HogeschoolUtrecht/" class="footer__link">
                <i class="icon icon--footer fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/HU_Utrecht" class="footer__link">
                <i class="icon icon--footer fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/hogeschoolutrecht/" class="footer__link">
                <i class="icon icon--footer fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
