<header class="header">
    <div class="header__content">
        <h1 class="header__title">LEID DE TOEKOMST OP</h1>
        <h2 class="header__subtitle">Zie hoe jij de toekomst gaat beinvloeden</h2>
    </div>
    <div class="header__icon">
        {% include '../macros/scroll-btn.twig' %}
    </div>
</header>
