{% set header__title        = 'LEID DE TOEKOMST OP' %}
{% set header__subtitle     = 'Zie hoe jij de toekomst gaat beinvloeden als leraar Techniek' %}

<header class="header">
    <div class="header__content">
        <h1 class="header__title">{{ header__title }}</h1>
        {% if header__subtitle != '' %}
            <h2 class="header__subtitle">{{ header__subtitle }}</h2>
        {% endif %}
        {% include '../macros/header-btn.twig' %}
    </div>
</header>
