{#{% set menu_home        = 'Home' %}#}
{#{% set menu_innovation  = 'Innovaties' %}#}
{% set menu_information = 'MEER OVER HOGESCHOOL UTRECHT' %}

<div class="menu" itemscope itemtype="http://schema.org/URL">
    <button class="menu__button" aria-label="menu">
        <span class="menu__bar"></span>
        <span class="menu__bar"></span>
        <span class="menu__bar"></span>
    </button>

    <div class="menu__logo">
        <a href="#" class="menu__link-logo">
            <img src="/assets/img/hu-logo.svg" alt="HU logo" class="menu__image">
            <img src="/assets/img/hu-logo_white.svg" alt="HU logo" class="menu__image menu__image--white">
        </a>
    </div>

    <nav class="menu__nav">
        <ul class="menu__list" itemscope itemtype="http://schema.org/ItemList">
            <li class="menu__item" itemprop="itemListElement">
                <a href="#" data-target=".header" class="menu__link" itemprop="url">Leid de toekomst op</a>
            </li>
            <li class="menu__item" itemprop="itemListElement">
                <a href="#" data-target=".about" class="menu__link" itemprop="url">Waarom leraar techniek</a>
            </li>
            <li class="menu__item" itemprop="itemListElement">
                <a href="#" data-target=".innovation-1" class="menu__link" itemprop="url">VR in ontwerp</a>
            </li>
            <li class="menu__item" itemprop="itemListElement">
                <a href="#" data-target=".innovation-2" class="menu__link" itemprop="url">VR in de les</a>
            </li>
            <li class="menu__item" itemprop="itemListElement">
                <a href="#" data-target=".innovation-3" class="menu__link" itemprop="url">Leraar techniek bij HU</a>
            </li>
            <li class="menu__item" itemprop="itemListElement">
                <a href="#" data-target=".footer" class="menu__link" itemprop="url">Start vandaag nog</a>
            </li>
        </ul>
        {% if menu_information != '' %}
            <p class="menu__information" itemscope itemtype="http://schema.org/copyrightHolder" itemprop="copyrightHolder">
                {{ menu_information }}
                <a href="https://www.hu.nl/" class="menu__link" target="_blank">www.HU.nl/</a>
            </p>
        {% endif %}
    </nav>
</div>
