<nav class="nav">
    <!-- Hamburger -->
    <span class="nav__hamburger">
        <span class="nav__bar"></span>
        <span class="nav__bar"></span>
        <span class="nav__bar"></span>
    </span>

    <!-- Menu -->
    <ul class="nav__element">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="/" class="nav__link">About</a></li>
        <li class="nav__item"><a href="/" class="nav__link">Contact</a></li>
    </ul>
</nav>
