<!-- Sidenavigation -->
<nav class="nav">
	<!-- Logo -->
	<div class="logo">
		<img src="../../static/img/hu-logo.svg" alt="Hier komt het HU logo">
	</div>
	<!-- Menu-->
	<div class="sidemenu">
		<ul class="nav__element">
			<li class="nav__item"><a href="#" class="nav__link">Header</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Content</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Footer</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Voeg een nieuwe sectie toe</a></li>
		</ul>
	</div>
</nav>