<button class="button">
    <span class="button__text">INSCHRIJVEN</span>
</button>

<button class="button button--blue">
    <span class="button__text">INSCHRIJVEN</span>
</button>

<button class="button button--arrow">
    <span class="button__text">INSCHRIJVEN</span>
</button>

<button class="button button--icon">
        <span class="button__icon">
            <i class="fas fa-cogs"></i>
        </span>
    <span class="button__text">BUTTON</span>
</button>

<button class="button button--big">
    <span class="button__text">BUTTON</span>
    <span class="button__text button__text--small">Om de toekomst op te leiden</span>
</button>
