<span class="scroll-btn header__link">
    <a href="#">
        <span class="mouse">
            <span>
            </span>
        </span>
    </a>
</span>

<a class="header__scroll  header__link" href="#">
    <img class="header__gif" src="/assets/img/swipe_up.gif">
</a>
