@import '../mixins/typography';

.about {
    margin: 0 auto;
    max-width: 800px;
    padding: 4rem 1rem;
    text-align: center;

    &__title {
        @include style-heading-second;
        color: $c-prim;
        margin: 0 0 .6rem;
    }

    &__paragraph {
        @include style-regular;
        color: $c-gray-dark;
        margin: 0 0 2.4rem;
    }

    @include screen($screen-simple) {
        padding: 4rem 0;
    }
}
