@import '../mixins/typography';

.button {
    align-items: flex-start;
    background: $c-prim;
    border: 1px solid $c-prim;
    color: $c-white;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    padding: 1rem;
    position: relative;
    text-align: center;
    transition: .25s background, .25s color;
    width: 100%;
    z-index: 2;

    &:hover {
        background: $c-white;
        color: $c-prim;

        .button__icon {
            color: $c-prim;
        }
    }

    &__text {
        @include style-button;
        display: inline;

        &--small {
            @include style-button-small;
        }
    }

    &__icon-wrapper {
        @include style-button;
        display: inline;

        .button__icon {
            display: inline;
            fill: $c-white;
            font-size: 1.4rem;
            margin: 0 .2rem 0 0;
            transition: fill .25s;
            vertical-align: middle;

            &.fa-play {
                font-size: .7rem;
            }
        }
    }

    &--blue {
        background: $c-second;
        border: 1px solid $c-second;

        &:hover {
            background: $c-white;
            color: $c-second;

            .button__icon {
                color: $c-second;
            }
        }
    }

    &__header {
        margin: 2rem 0 0;
        width: auto;
    }

    @include screen($screen-simple) {
        &__icon-wrapper {
            .button__icon {
                font-size: 1.5rem;
                margin: 0 .4rem 0 0;

                &.fa-play {
                    font-size: 1rem;
                }
            }
        }

        &--small {
            max-width: 400px;
        }
    }

    @include screen($screen-normal) {
        &__icon-wrapper {
            .button__icon {
                font-size: 1.8rem;
                margin: 0 .5rem 0 0;

                &.fa-play {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
