@import '../mixins/typography';
@import '../mixins/container';

.header {
    @include container;
    align-items: center;
    background: linear-gradient(to bottom, transparentize($c-black, .6), transparentize($c-black, .6), transparentize($c-black, .3)),
    url('../img/header_background.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    width: 100%;

    &__content {
        @include screen($screen-simple) {
            text-align: center;
        }
    }

    .is-visible {
        .header__title {
            opacity: 1;
            transform: translateY(0);
        }

        .header__subtitle {
            opacity: 1;
            transform: translateY(0);
        }

        .header__link {
            opacity: 1;
        }
    }

    &__title {
        @include style-heading;
        margin: 0 0 .2rem;
        opacity: 0;
        text-shadow: 0 2px 1px transparentize($c-black, .8);
        transform: translateY(-25%);
        transition: transform .25s, opacity .25s;
    }

    &__subtitle {
        @include style-regular;
        font-size: 1.25rem;
        margin: 0 0 1rem;
        opacity: 0;
        text-shadow: 0 2px 1px transparentize($c-black, .8);
        transform: translateY(-25%);
        transition: transform .25s, opacity .25s;
        transition-delay: .25s;

        @include screen($screen-simple) {
            font-size: 1.5rem;
        }

        @include screen($screen-normal) {
            font-size: 1.75rem;
        }
    }

    &__link {
        opacity: 0;
        transition: .25s background, .25s color, .25s opacity .5s;
    }

    @include screen($screen-simple) {
        &__link {
            max-width: 400px;
        }
    }
}
