.icon {
    color: $c-white;
    max-height: 100%;
    max-width: 100%;

    &--mobile {
        display: block;
    }

    &--desktop {
        display: none;
    }

    &--footer {
        fill: $c-prim;
        max-height: 25px;
        max-width: 25px;
        transition: fill .25s;

        &:hover {
            fill: $c-second;
        }
    }

    @include screen($screen-simple) {
        &--mobile {
            display: none;
        }

        &--desktop {
            display: block;
        }
    }
}
