.icon {
    color: $c-white;
    max-height: 100%;
    max-width: 100%;

    &--mobile {
        display: block;
    }

    &--desktop {
        display: none;
    }

    &--footer {
        color: $c-prim;
        font-size: 1.5rem;
        transition: color .25s;


        &:hover {
            color: $c-second;
        }
    }

    @include screen($screen-simple) {
        &--mobile {
            display: none;
        }

        &--desktop {
            display: block;
        }
    }
}
