@import '../mixins/typography';

.innovation {
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__background {
        background: url('../img/innovation_1.jpg') left center no-repeat scroll $c-grey;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    &__container {
        padding: 0 1rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    &__heading {
        background: transparentize($c-prim, .4);
        margin: 0 auto;
        max-width: 500px;
        opacity: 0;
        padding: 0 1rem;
        transition: transform .5s ease-out, opacity .25s;

        @include screen($screen-simple) {
            transform: translateY(200px);
        }
    }

    &__title {
        @include style-heading-second;
        padding: .5rem 0;
    }

    &__subtitle {
        @include style-regular;
        padding: .5rem 0;
    }

    &__wrapper {
        background: $c-white;
        margin: 0 auto;
        max-width: 500px;
        opacity: 0;
        padding: 1rem;
        transition: transform .5s ease-out, opacity .25s;

        .innovation__title {
            color: $c-prim;
            margin: 0 0 .8rem;
            padding: 0;
        }

        a:nth-child(even) {
            margin-top: .4rem;
        }

        @include screen($screen-simple) {
            transform: translateY(200px);
        }
    }

    &__paragraph {
        color: $c-gray-light;
        padding: 0 0 2rem;
    }

    &__white {
        display: none;
    }

    &.is-active {
        .innovation__wrapper {
            opacity: 1;
            transform: translateY(0);
        }

        .innovation__heading {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.is-active--mobile {
        .innovation__wrapper {
            opacity: 1;
        }

        .innovation__heading {
            opacity: 1;
        }
    }

    &.innovation-2 {
        .innovation__background {
            background: url('../img/innovation_2.jpg') center center no-repeat scroll $c-grey;
            background-size: cover;
        }
    }

    &--half.innovation {
        height: 80vh;

        .innovation__background {
            background: linear-gradient(top, transparentize($c-black, .75), $c-grey),
            url('../img/innovation_2.jpg') center top no-repeat scroll;
            background-size: cover;
            height: 75%;
        }

        .innovation__container {
            bottom: 0;
            padding: 0;
            position: absolute;
        }

        .innovation__wrapper {
            margin: 0 1rem;
        }

        .innovation__heading {
            background: none;
            padding: 0 1rem;
        }

        .innovation__white {
            background: $c-grey;
            bottom: 0;
            display: block;
            height: 25%;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    @include screen($screen-simple) {
        .innovation__background {
            background-size: 210%;
        }

        &__container {
            display: block;
            height: 100%;
            margin: 0 auto;
            max-width: $screen-normal;
            padding: 0 2rem;
            top: 0;
            transform: none;
            width: 100%;
        }

        &__content {
            display: block;
            height: 100%;
            width: 100%;
        }

        &__heading {
            left: 2rem;
            max-width: 100%;
            position: absolute;
            top: 2rem;
            width: auto;
        }

        &__wrapper {
            bottom: 2rem;
            position: absolute;
            right: 2rem;
        }

        &.innovation-2 {
            .innovation__background {
                background: url('../img/innovation_2.jpg') bottom center no-repeat scroll $c-grey;
                background-size: 220%;
            }
        }

        &--half.innovation {
            height: 70vh;

            .innovation__background {
                background: url('../img/innovation_2.jpg') bottom center no-repeat fixed;
                background-size: 150%;
                height: 100%;
            }

            .innovation__container {
                align-items: center;
                display: flex;
                justify-content: center;
                max-width: $screen-large;
                position: absolute;
            }

            .innovation__heading {
                background: none;
                left: auto;
                margin: 0;
                max-width: 50%;
                padding: 0;
                position: absolute;
                text-align: left;
                top: 0;

                .innovation__title {
                    background: transparentize($c-prim, .4);
                    padding: .5rem;
                }

                .innovation__subtitle {
                    background: transparentize($c-prim, .4);
                    float: right;
                    max-width: 60%;
                    padding: .5rem;
                }
            }

            .innovation__wrapper {
                bottom: auto;
                margin: 0;
                max-width: 50%;
                padding: 0 1rem;
                position: absolute;
                right: 0;
                top: auto;
            }

            .innovation__center {
                position: relative;
                top: 10rem;
            }

            .innovation__white {
                background: $c-white;
                bottom: 0;
                display: block;
                height: 100%;
                left: auto;
                position: absolute;
                right: 0;
                width: 50%;
            }
        }
    }

    @include screen($screen-normal) {
        .innovation__background {
            background-attachment: fixed;
            background-size: 180%;
        }

        &.innovation-2 {
            .innovation__background {
                background-attachment: fixed;
                background-size: 150%;
            }
        }

        &.innovation-3 {
            .innovation__background {
                background-attachment: fixed;
                background-size: 180%;
            }
        }

        &--half.innovation {
            .innovation__background {
                background: url('../img/innovation_2.jpg') bottom center no-repeat scroll $c-grey;
                background-size: 130%;
                height: 100%;
            }
        }
    }

    @include screen($screen-large) {
        &__heading {
            left: 0;
        }

        &__wrapper {
            right: 0;
        }
    }
}
