@import '../config/sizes';
@import '../mixins/screen';

@mixin container {
    margin: 0 auto;
    max-width: $screen-normal;
    padding: 0 1.25rem;
    width: 100%;

    @include screen($screen-simple) {
        padding: 0 1.8rem;
    }
}
