@import '../config/sizes';
@import '../mixins/screen';

@font-face {
    font-family: HuFont;
    src: url('../fonts/husans-normal-webfont.woff');
}

$font-prim:         'HuFont', 'Avenir', 'Arial', 'sans-serif';
$font-sec:          'Avenir', 'Arial', 'sans-serif';

$weight-light:      200;
$weight-normal:     400;
$weight-semi-bold:  500;
$weight-bold:       700;

// H(eadings)
@mixin style-heading {
    font-family: $font-prim;
    font-size: 3rem;
    font-weight: $weight-normal;
    line-height: 1.2;

    @include screen($screen-simple) {
        font-size: 3.6rem;
    }

    @include screen($screen-normal) {
        font-size: 3.8rem;
    }

    @include screen($screen-large) {
        font-size: 4rem;
    }
}

@mixin style-heading-second {
    font-family: $font-prim;
    font-size: 1.75rem;
    font-weight: $weight-normal;
    line-height: 1.2;

    @include screen($screen-simple) {
        font-size: 2rem;
    }

    @include screen($screen-normal) {
        font-size: 2.4rem;
    }

    @include screen($screen-large) {
        font-size: 3rem;
    }
}

// P(aragraph)
@mixin style-regular {
    color: $c-white;
    font-family: $font-sec;
    font-size: 1rem;
    font-weight: $weight-normal;
    line-height: 1.4;

    @include screen($screen-simple) {
        font-size: 1.1rem;
    }

    @include screen($screen-normal) {
        font-size: 1.2rem;
    }

    @include screen($screen-large) {
        font-size: 1.3rem;
    }
}

@mixin style-button {
    font-family: $font-prim;
    font-size: 1.4rem;
    font-weight: $weight-normal;
    line-height: 1;

    @include screen($screen-simple) {
        font-size: 1.6rem;
    }

    @include screen($screen-normal) {
        font-size: 1.8rem;
    }
}

@mixin style-button-small {
    font-family: $font-sec;
    font-size: .8rem;
    font-weight: $weight-normal;
    line-height: 1;

    @include screen($screen-simple) {
        font-size: 1rem;
    }

    @include screen($screen-normal) {
        font-size: 1.2rem;
    }
}
